{% extends 'base.html' %}

{% block content %}


<body>
    <div class="container">
        <b>Technologies</b>
        <div>Languages | Python, Javascript (ES6+), HTML, CSS, SQL, AJAX, JSON</div>
        <div>Frameworks & Libraries | Flask, jQuery, Bootstrap, Jinja, SQLAlchemy</div> 
        <div>Database/ Industry Tools | PostgreSQL, Git, GitHub, Command Line</div>
        <div>Tools/ Software | Salesforce, Microsoft Office</div>

        <b>Project</b>
        <div>Discover San Francisco</div>
        <div>Built a full stack web application that allows users to learn more about the city. Users can learn about the various neighborhoods and discover “things to do.” The Yelp API is used to display the top 5 most popular restaurants in each neighborhood and the Google Maps API is used to mark the location of each tourist attraction. Users can even contribute their thoughts by creating an account to comment and rate.</div> 
        <div>Front End | JavaScript, AJAX, JSON, jQuery, Jinja, HTML, CSS, Bootstrap</div>
        <div>Back End | Python, Flask, SQLAlchemy, PostgreSQL</div>
        <div>APIs | Yelp API and Google Maps API</div>
        <div>GitHub Link | https://github.com/jessicahojh/San_Francisco_Webpage_Project</div>

        <b>Experience</b>
        <div>Funding Circle | Partnerships Loan Specialist Jan 2017 – Nov 2018</div>
        <ul>
        <li>Originated $114 million in loans at 5%-7% which resulted in an average total revenue of $6.5 million.</li>
        <li>Developed a report for the team to organize and track potential profitable deals which increased productivity and helped better forecast the team’s current performance.</li>
        <li>Communicated regularly with 18 strategic partners and brokers to convert business leads into origination profits for both Funding Circle and the respective partner.</li>
        <li>Partnered with the team’s data analyst to accurately track the team’s key performance indicators for the previous 4 quarters.</li>
        <li>Assessed financial documents for the credit underwriting process and reviewed loan closing contracts.</li>
        <li>Collaborated across the credit and operations teams to successfully fund and list approximately 500 loans on the marketplace.</li>
        </ul>

        <div>Funding Circle | Intern, Partnerships Sep 2016 - Dec 2016</div>
        <ul>
        <li>Strategically worked with the marketing team to create different targeted campaigns to maximize potential borrower segments to reapply for small business loans.</li>
        <li>Directed recently declined borrowers to work with Funding Circle partners as a means of alternative financing; resulted in 30 funded small businesses and $60,000 of total revenue for Funding Circle.</li>
        </ul>

        <div>Kiva | Intern, Inbound Community Support Jan 2016 - Jul 2016</div>
        <ul>
        <li>Created process for assembling reports to analyze the traction of weekly marketing emails to improve overall campaign efficiency.</li>
        <li>Acted as lead support for potential borrowers to help in successfully submitting their loan applications to the underwriting process which resulted in submitting an additional 15 loan applications to underwriting per day.</li>
        <li>Produced 48 impact reports to provide partnered companies an outline of their annual contributions.</li>
        </ul>

        <b>Education</b>
        <div>Software Engineer Fellow | Hackbright Academy Jan 2019 - Mar 2019</div>
        <div>Software Engineering Program for Women</div>

        <div>B.S. – Finance | San Francisco State University Aug 2012 - Dec 2016</div>
        <div>Alpha Kappa Psi – Business Fraternity: Director of Finance</div>
        <div>F.A.M.E. – Financial Analysis & Management Education</div>

      
    </div>

</body>


{% endblock %}